ewriteEngine On
RewriteRule ^\.htaccess$ - [F]
RewriteCond %{REQUEST_URI} =""
RewriteRule ^.*$ /public/index.php [NC,L]
RewriteCond %{REQUEST_URI} !^/public/.*$
RewriteRule ^(.*)$ /public/$1
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^.*$ - [NC,L]
RewriteRule ^public/.*$ /public/index.php [NC,L]

Header add Access-Control-Allow-Origin: '*'
Header add Access-Control-Allow-Methods: 'PUT, GET, DELETE, OPTIONS, POST'
Header add Access-Control-Allow-Credentials: true
Header add Access-Control-Allow-Headers: 'authorization, x-requested-with, user-device, content-type'
