<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true">
    <testsuites>
        <testsuite name="ZendSkeletonApplication Test Suite">
            <directory>./module/**/test</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">module/</directory>
            <exclude>
                <directory>./module/*/test</directory>
                <directory>build</directory>
                <directory>config</directory>
                <directory>data</directory>
                <directory>public</directory>
                <directory>vendor</directory>
                <directory>./tests/Selenium</directory>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="public/coverage/" />
    </logging>

</phpunit>
