
body {
    background:url(../img/background.jpg)repeat-x top center;
}

#login {
    text-align: center;
    background-color: #58595e;
    position: absolute;
    box-sizing: border-box;
    border-radius: 10px; 
    padding: 50px;
    top: 150px;
    left: 460;
}

.form-control {
    width: 220px;
    border-style: none;
    border-radius: 5px; 
    padding: 5px;
}

.btn-primary {
    background-color: #adad0c;
    color: #fff;
    font-family: verdana;
    box-sizing: border-box;
    border-style: none;
    border-radius: 5px; 
    width: 125px;
    position: relative;
    padding: 10px;
}

.btn-primary:hover {
    color: #000;
    background-color: #b3b300;
    border-color: #7fafda;
}

a {
    position: relative;
    font: 12px arial, sans-serif;
    top: 20px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

a:hover {
    -webkit-transition: 0.2s ease-in;
    color: rgb(234, 234, 245);
}