body {
  background-color: #e6e6e6;
  background:url(../img/background.jpg)repeat-x top center;
}

.menu{
  padding-top: 10px;
  background-color: #333;
  width: 20%;
  margin: 70px 0 0 -50px;
  padding-bottom: 526px;
}

.menu li {
  list-style-type: none;
  color: #e6e6e6;
  font-size: 17px;
  margin: 10px;
}

h1 {
  color: #b3b300;
  padding: 0 0 0 10px;
}

h2 {
  color: #e6e6e6;
}


li a {
  left: 640px;
}


#login {
  padding: 20px 0 10px 700px;
}

#logout {
  float: left;
  width: 20%;
  padding: 20px 0 10px 700px;
}

.search{
  float: left;
  width: 40%;
  margin-top: -55px;
  margin-left: 400px;
}

.btn-primary {
  color: #fff;
  background-color: #b3b300;
  border-color: #000;
  width: 20%;
  height: 25px;
  padding: 0px 12px;
  font-family: verdana;
  margin-right: 10px; 
}

.btn-primary:hover {
  color: #000;
  background-color: #b3b300;
  border-color: #204d74;
}

.logout {
  color: #fff;
  background-color: #b3b300;
  border-color: #000;
  height: 25px;
  padding: 0px 12px;
  font-family: verdana;
  border: 1px solid transparent;
  border-radius: 4px;
}

.logout:hover {
  color: #000;
  background-color: #b3b300;
  border-color: #204d74;
}


#login .form-control {
  position: relative;
  z-index: 2;
  float: left;
  width: 30%;
  height: 24px;
  margin: 0 5px 0 0 ;
}









