$line-awesome-sort-asc: "\f11f";
$line-awesome-sort-desc: "\f122";

.grid {
    .sorting,
    .sorting_desc,
    .sorting_asc {
        cursor: pointer;

        &::after {
            font: normal normal normal 16px/1 LineAwesome;
            font-size: inherit;
            text-decoration: inherit;
            text-rendering: optimizeLegibility;
            text-transform: none;
            font-weight: 600;
        }
    }

    .sorting::after {
        content: $line-awesome-sort-asc;
        color: array-get($m--state-colors, metal, base);
    }

    .sorting_asc::after {
        content: $line-awesome-sort-asc;
        color: array-get($m--state-colors, brand, base);
    }

    .sorting_desc::after {
        content: $line-awesome-sort-desc;
        color: array-get($m--state-colors, brand, base);
    }
}

